<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Frognall</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
      </div>
  </div>

  <div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active"><a href="authors.html">Authors</a></li>
                      <li><a href="buying.html">Buying</a></li>
                      <li><a href="history.html">History</a></li>
                      <li><a href="media.html">Media</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="repair.html">Repair</a></li>
                      <li><a href="industry.html">Industry</a></li>
                      <li><a href="generation.html">Generation</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9">

            <div class="spaced_area" >
              <span class="letter" id="a">A</span>
              <span class="letter" id="b">B</span>
              <span class="letter" id="c">C</span>
              <span class="letter" id="d">D</span>
              <span class="letter" id="e">E</span>
              <span class="letter" id="f">F</span>
              <span class="letter" id="g">G</span>
              <span class="letter" id="h">H</span>
              <span class="letter" id="i">I</span>
              <span class="letter" id="j">J</span>
              <span class="letter" id="k">K</span>
              <span class="letter" id="l">L</span>
              <span class="letter" id="m">M</span>
              <span class="letter" id="n">N</span>
              <span class="letter" id="o">O</span>
              <span class="letter" id="p">P</span>
              <span class="letter" id="q">Q</span>
              <span class="letter" id="r">R</span>
              <span class="letter" id="s">S</span>
              <span class="letter" id="t">T</span>
              <span class="letter" id="u">U</span>
              <span class="letter" id="v">V</span>
              <span class="letter" id="w">W</span>
              <span class="letter" id="x">X</span>
              <span class="letter" id="y">Y</span>
              <span class="letter" id="z">Z</span>
              <span class="letter" id="new_author">New</span>
            </div>

            <ul id="author_area" class="list-group row">
            </ul>

            <ul id="area_a" class="list-group row" style=display:none>
                   <li class="list-group-item col-xs-3"><a href="edwinabbott.html">Edwin Abbott</a></li>
                   <li class="list-group-item col-xs-3"><a href="koboabe.html">Kobo Abe</a></li>
                   <li class="list-group-item col-xs-3"><a href="pierreabelard.html">Pierre Abelard</a></li>
                   <li class="list-group-item col-xs-3"><a href="walterabish.html">Walter Abish</a></li>
                   <li class="list-group-item col-xs-3"><a href="chinuaachebe.html">Chinua Achebe</a></li>
                   <li class="list-group-item col-xs-3"><a href="kathyacker.html">Kathy Acker</a></li>
                   <li class="list-group-item col-xs-3"><a href="josedeacosta.html">José de Acosta</a></li>
                   <li class="list-group-item col-xs-3"><a href="douglasadams.html">Douglas Adams</a></li>
                   <li class="list-group-item col-xs-3"><a href="henryadams.html">Henry Adams</a></li>
                   <li class="list-group-item col-xs-3"><a href="richardadams.html">Richard Adams</a></li>
                   <li class="list-group-item col-xs-3"><a href="chimamandangoziadichie.html">Chimamanda Ngozi Adichie</a></li>
                   <li class="list-group-item col-xs-3"><a href="mortimeradler.html">Mortimer Adler</a></li>
                   <li class="list-group-item col-xs-3"><a href="aeschines.html">Aeschines</a></li>
                   <li class="list-group-item col-xs-3"><a href="aeschylus.html">Aeschylus</a></li>
                   <li class="list-group-item col-xs-3"><a href="louisagassiz.html">Louis Agassiz</a></li>
                   <li class="list-group-item col-xs-3"><a href="jamesagee.html">James Agee</a></li>
                   <li class="list-group-item col-xs-3"><a href="shaiagnon.html">Shai Agnon</a></li>
                   <li class="list-group-item col-xs-3"><a href="conradaiken.html">Conrad Aiken</a></li>
                   <li class="list-group-item col-xs-3"><a href="annaakhmatova.html">Anna Akhmatova</a></li>
                   <li class="list-group-item col-xs-3"><a href="sergeyaksakov.html">Sergey Aksakov</a></li>
                   <li class="list-group-item col-xs-3"><a href="ryunosukeakutagawa.html">Ryunosuke Akutagawa</a></li>
                   <li class="list-group-item col-xs-3"><a href="alain-fournier.html">Alain-Fournier</a></li>
                   <li class="list-group-item col-xs-3"><a href="edwardalbee.html">Edward Albee</a></li>
                   <li class="list-group-item col-xs-3"><a href="milleroalbert.html">Miller O Albert</a></li>
                   <li class="list-group-item col-xs-3"><a href="mitchalbom.html">Mitch Albom</a></li>
                   <li class="list-group-item col-xs-3"><a href="louisamayalcott.html">Louisa May Alcott</a></li>
                   <li class="list-group-item col-xs-3"><a href="sholemaleichem.html">Sholem Aleichem</a></li>
                   <li class="list-group-item col-xs-3"><a href="christopheralexander.html">Christopher Alexander</a></li>
                   <li class="list-group-item col-xs-3"><a href="horatioalger.html">Horatio Alger</a></li>
                   <li class="list-group-item col-xs-3"><a href="vittorioalfieri.html">Vittorio Alfieri</a></li>
                   <li class="list-group-item col-xs-3"><a href="nelsonalgren.html">Nelson Algren</a></li>
                   <li class="list-group-item col-xs-3"><a href="fredericklewisallen.html">Frederick Lewis Allen</a></li>
                   <li class="list-group-item col-xs-3"><a href="isabelallende.html">Isabel Allende</a></li>
                   <li class="list-group-item col-xs-3"><a href="janealison.html">Jane Alison</a></li>
                   <li class="list-group-item col-xs-3"><a href="dorothyallison.html">Dorothy Allison</a></li>
                   <li class="list-group-item col-xs-3"><a href="walteralvarez.html">Walter Alvarez</a></li>
                   <li class="list-group-item col-xs-3"><a href="kingsleyamis.html">Kingsley Amis</a></li>
                   <li class="list-group-item col-xs-3"><a href="martinamis.html">Martin Amis</a></li>
                   <li class="list-group-item col-xs-3"><a href="arammons.html">A R Ammons</a></li>
                   <li class="list-group-item col-xs-3"><a href="sherwoodanderson.html">Sherwood Anderson</a></li>
                   <li class="list-group-item col-xs-3"><a href="ivoandric.html">Ivo Andrić</a></li>
                   <li class="list-group-item col-xs-3"><a href="mayaangelou.html">Maya Angelou</a></li>
                   <li class="list-group-item col-xs-3"><a href="jeananouilh.html">Jean Anouilh</a></li>
                   <li class="list-group-item col-xs-3"><a href="anselmofcanterbury.html">Anselm of Canterbury</a></li>
                   <li class="list-group-item col-xs-3"><a href="sansky.html">S Ansky</a></li>
                   <li class="list-group-item col-xs-3"><a href="chairilanwar.html">Chairil Anwar</a></li>
                   <li class="list-group-item col-xs-3"><a href="gloriaanzaldua.html">Gloria Anzaldua</a></li>
                   <li class="list-group-item col-xs-3"><a href="guillaumeapollinaire.html">Guillaume Apollinaire</a></li>
                   <li class="list-group-item col-xs-3"><a href="apolloniusofpergia.html">Apollonius of Pergia</a></li>
                   <li class="list-group-item col-xs-3"><a href="apolloniusofrhodes.html">Apollonius of Rhodes</a></li>
                   <li class="list-group-item col-xs-3"><a href="aharonappelfeld.html">Aharon Appelfeld</a></li>
                   <li class="list-group-item col-xs-3"><a href="jamesapplewhite.html">James Applewhite</a></li>
                   <li class="list-group-item col-xs-3"><a href="apuleius.html">Apuleius</a></li>
                   <li class="list-group-item col-xs-3"><a href="ibnarabi.html">Ibn Arabi</a></li>
                   <li class="list-group-item col-xs-3"><a href="archimedes.html">Archimedes</a></li>
                   <li class="list-group-item col-xs-3"><a href="johnarden.html">John Arden</a></li>
                   <li class="list-group-item col-xs-3"><a href="reinaldoarenas.html">Reinaldo Arenas</a></li>
                   <li class="list-group-item col-xs-3"><a href="hannaharendt.html">Hannah Arendt</a></li>
                   <li class="list-group-item col-xs-3"><a href="ludovicoariosto.html">Ludovico Ariosto</a></li>
                   <li class="list-group-item col-xs-3"><a href="aristophanes.html">Aristophanes</a></li>
                   <li class="list-group-item col-xs-3"><a href="aristotle.html">Aristotle</a></li>
                   <li class="list-group-item col-xs-3"><a href="ayikweiarmah.html">Ayi Kwei Armah</a></li>
                   <li class="list-group-item col-xs-3"><a href="matthewarnold.html">Matthew Arnold</a></li>
                   <li class="list-group-item col-xs-3"><a href="harriettearnow.html">Harriette Arnow</a></li>
                   <li class="list-group-item col-xs-3"><a href="juanjoséarreola.html">Juan José Arreola</a></li>


              </ul>

            <ul id="area_c" class="list-group row" style=display:none>
                   <li class="list-group-item col-xs-3"><a href="giacomocasanova.html">Giacomo Casanova</a></li>
                   <li class="list-group-item col-xs-3"><a href="adolfocasares.html">Adolfo Bioy Casares</a></li>
                   <li class="list-group-item col-xs-3"><a href="fernaolopescastanheda.html">Fernão Lopes de Castanheda</a></li>
                   <li class="list-group-item col-xs-3"><a href="baldassarecastiglione.html">Baldassare Castiglione</a></li>
                   <li class="list-group-item col-xs-3"><a href="catullus.html">Catullus</a></li>
                   <li class="list-group-item col-xs-3"><a href="willacather.html">Willa Cather</a></li>
                   <li class="list-group-item col-xs-3"><a href="catotheelder.html">Cato the Elder</a></li>
                   <li class="list-group-item col-xs-3"><a href="camilojosecela.html">Camilo José Cela</a></li>
                   <li class="list-group-item col-xs-3"><a href="louisferdinandceline.html">Louis-Ferdinand Céline</a></li>
              </ul>

            <ul id="area_g" class="list-group row" style=display:none>
                   <li class="list-group-item col-xs-3"><a href="abhinavagupta .html">Abhinava Gupta </a></li>
              </ul>

            <div id="author_display" style=display:none>

                <div class="col-xs-6">

                  <div class="spaced_area">
                      <p>
                        <b><span class="spaced_span" id="author_name_display"></span></b>
                        <span class="spaced_span"  id="author_nationality_display"></span>
                        <span class="spaced_span"  id="author_years_display"></span>
                      </p>
                  </div>

                  <button type="button" id="author_edit_button" >Edit</button>

                  <div id="author_external_display" class="spaced_area"></div>

                  <div class="spaced_area">
                      <p><span id="author_notes_display"></span></p>
                  </div>

               </div>
            </div>

            <div id="author_edit" style=display:none>

              <div class="col-xs-6">

                <div class="spaced_area">
                    <div class="overtag">Name</div>
                    <input type="text" class="input-large author_input" id="author_name" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Nationality</div>
                    <input type="text" class="input-small author_input" id="author_nationality" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Years</div>
                    <input type="text" class="input-small author_input" id="author_years" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Tags</div>
                    <input type="text" class="input-large author_input" id="author_tags" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Group</div>
                    <input type="text" class="input-small author_input" id="author_group" /></br>
                </div>

                <button type="button" class="generate_button" id="save_author" >Save Author</button>

              </div>

              <div class="col-xs-6">
                <div class="spaced_area">
                  <div class="overtag">Notes</div>
                  <textarea type="text" cols="60" rows="12" class="author_input" id="author_notes" /></textarea>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Link</div>
                    <input type="text" class="input-large author_input" id="author_external" /></br>
                </div>
              </div>

            </div>

          </div>

      </div>

  </div>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal_error">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                  <p></p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    $('.letter').click(function () {

      var letter = $(this).attr('id');

      GetAuthorsByLetter(letter);

    });

    $('#new_author').click(function () {

      $('.author_input').val('');
      $('#author_edit').show();

    });

    $('#author_area').on('click', '.author_name', function () {

      ShowAuthor($(this).attr('id'));

    });

    $('#author_edit_button').click(function () {

      EditAuthor($('#author_name_display').text());

    });

    function ShowAuthor(authorName) {

        axios.get('http://localhost:3000/getAuthor/' + authorName)
          .then(function (response) {
            $('#author_name_display').text(response.data.Author.Name);
            $('#author_nationality_display').text(response.data.Author.Nationality);
            $('#author_years_display').text(response.data.Author.Years);
            $('#author_notes_display').text(response.data.Author.Notes);

            var wiki = '<p><a href="' + response.data.Author.External + '" target="_blank">wiki</a>';

            $('#author_external_display').html(wiki);

            $('#author_edit').hide();
            $('#author_display').show();
          })
          .catch(function (error) {
              console.log(error);
          });
    }

    function EditAuthor(authorName) {

        axios.get('http://localhost:3000/getAuthor/' + authorName)
          .then(function (response) {
            $('#author_name').val(response.data.Author.Name);
            $('#author_nationality').val(response.data.Author.Nationality);
            $('#author_years').val(response.data.Author.Years);
            $('#author_tag').val(response.data.Author.Tags);
            $('#author_group').val(response.data.Author.Group);
            $('#author_notes').val(response.data.Author.Notes);
            $('#author_external').val(response.data.Author.External);

            $('#author_display').hide();
            $('#author_edit').show();
          })
          .catch(function (error) {
              console.log(error);
          });
    }

    $('#save_author').click(function () {

        var Author = {};
        Author.Name = $('#author_name').val();
        Author.Nationality = $('#author_nationality').val();
        Author.Years = $('#author_years').val();
        Author.Tags = $('#author_tag').val();
        Author.Group = $('#author_group').val();
        Author.Notes = $('#author_notes').val();
        Author.External = $('#author_external').val();

        axios.post('http://localhost:3000/saveAuthor', { author: Author })
          .then(function(response){
            ShowModal("Save Author", response.data.Result);
            ShowAuthor(Author.Name);         
          })
          .catch(function (error) {
            ShowModal("Save Author", error);
          });

    });

    function GetAuthorsByLetter(letter) {

        axios.get('http://localhost:3000/getAuthorsByLetter/' + letter)
          .then(function (response) {
              DisplayAuthors(response.data.Authors);
          })
          .catch(function (error) {
              console.log(error);
          });
    }

    function DisplayAuthors(authors) {

        var markup = "";

        if (authors.length > 0) {
            for (var i = 0; i < authors.length; i++) {
                markup = markup.concat('<li class="list-group-item col-xs-3 author_name" id="' + authors[i].Name + '">' + authors[i].Name + '</li>');
            }
        }

        $('#author_area').html(markup);

    }

    function ShowModal(title, message) {

        var modal = $('#modal_error');
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').html(message);

        $('#modal_error').modal();

    }

</script>
