<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Authors</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/Content/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicons/favicon.ico" >
</head>

<body>

  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Frognall</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
      </div>
  </div>

  <div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active"><a href="authors.html">Authors</a></li>
                      <li><a href="buying.html">Buying</a></li>
                      <li><a href="history.html">History</a></li>
                      <li><a href="media.html">Media</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="repair.html">Repair</a></li>
                      <li><a href="industry.html">Industry</a></li>
                      <li><a href="generation.html">Generation</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9">

            <div id="letters" class="spaced_area" >
              <span class="letter" id="a">A</span>
              <span class="letter" id="b">B</span>
              <span class="letter" id="c">C</span>
              <span class="letter" id="d">D</span>
              <span class="letter" id="e">E</span>
              <span class="letter" id="f">F</span>
              <span class="letter" id="g">G</span>
              <span class="letter" id="h">H</span>
              <span class="letter" id="i">I</span>
              <span class="letter" id="j">J</span>
              <span class="letter" id="k">K</span>
              <span class="letter" id="l">L</span>
              <span class="letter" id="m">M</span>
              <span class="letter" id="n">N</span>
              <span class="letter" id="o">O</span>
              <span class="letter" id="p">P</span>
              <span class="letter" id="q">Q</span>
              <span class="letter" id="r">R</span>
              <span class="letter" id="s">S</span>
              <span class="letter" id="t">T</span>
              <span class="letter" id="u">U</span>
              <span class="letter" id="v">V</span>
              <span class="letter" id="w">W</span>
              <span class="letter" id="x">X</span>
              <span class="letter" id="y">Y</span>
              <span class="letter" id="z">Z</span>
              <span class="letter" id="new_author">New</span>
            </div>

            <ul id="author_area" class="list-group row"></ul>

            <div id="author_display" style=display:none>

                <div class="col-xs-10">

                  <div class="spaced_area">
                      <p>
                        <b><span class="spaced_span" id="author_name_display"></span></b>
                        <span class="spaced_span"  id="author_nationality_display"></span>
                        <span class="spaced_span"  id="author_years_display"></span>
                      </p>
                  </div>

                  <div class="spaced_area">
                      <p><span id="author_notes_display"></span></p>
                  </div>

                  <div id="author_external_display" class="spaced_area"></div>
                  <button type="button" id="author_edit_button" >Edit</button>

                  <p>
                    <b>Works</b>
                    <span class="letter" id="new_work">New</span>
                  </p>

                  <div id="works_area"></div>

               </div>


            </div>

            <div id="author_edit" style=display:none>

              <div class="col-xs-6">

                <div class="spaced_area">
                    <div class="overtag">Name</div>
                    <input type="text" class="input-large author_input" id="author_name" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Nationality</div>
                    <input type="text" class="input-small author_input" id="author_nationality" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Years</div>
                    <input type="text" class="input-small author_input" id="author_years" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Tags</div>
                    <input type="text" class="input-large author_input" id="author_tags" /></br>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Group</div>
                    <input type="text" class="input-small author_input" id="author_group" /></br>
                </div>

                <button type="button" class="generate_button" id="save_author" >Save Author</button>

              </div>

              <div class="col-xs-6">
                <div class="spaced_area">
                  <div class="overtag">Notes</div>
                  <textarea type="text" cols="60" rows="12" class="author_input" id="author_notes" /></textarea>
                </div>

                <div class="spaced_area">
                    <div class="overtag">Link</div>
                    <input type="text" class="input-large author_input" id="author_external" /></br>
                </div>
              </div>

            </div>



          </div>

      </div>

  </div>

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal_error">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                  <p></p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    $('.letter').click(function () {

      $('#author_display').hide();

      var letter = $(this).attr('id');

      GetAuthorsByLetter(letter);

    });

    $('#new_author').click(function () {

      $('#author_display').hide();
      $('.author_input').val('');
      $('#author_edit').show();

    });

    $('#author_area').on('click', '.author_name', function () {

      ShowAuthor($(this).attr('id'));

    });

    $('#author_edit_button').click(function () {

      EditAuthor($('#author_name_display').text());

    });

    function ShowAuthor(authorName) {

        axios.get('http://localhost:3000/getAuthor/' + authorName)
          .then(function (response) {
            $('#author_name_display').text(response.data.Author.Name);
            $('#author_nationality_display').text(response.data.Author.Nationality);
            $('#author_years_display').text(response.data.Author.Years);
            $('#author_notes_display').text(response.data.Author.Notes);

            var wiki = '<p><a href="' + response.data.Author.External + '" target="_blank">wiki</a>';

            axios.get('http://localhost:3000/getWorks/' + authorName)
              .then(function (response) {
                DisplayWorks(response.data.Works);
              })
              .catch(function (error) {
                  console.log(error);
              });

            $('#author_external_display').html(wiki);
            $('#author_edit').hide();
            $('#author_display').show();
          })
          .catch(function (error) {
              console.log(error);
          });
    }

    function EditAuthor(authorName) {

        axios.get('http://localhost:3000/getAuthor/' + authorName)
          .then(function (response) {
            $('#author_name').val(response.data.Author.Name);
            $('#author_nationality').val(response.data.Author.Nationality);
            $('#author_years').val(response.data.Author.Years);
            $('#author_tag').val(response.data.Author.Tags);
            $('#author_group').val(response.data.Author.Group);
            $('#author_notes').val(response.data.Author.Notes);
            $('#author_external').val(response.data.Author.External);

            $('#author_display').hide();
            $('#author_edit').show();
          })
          .catch(function (error) {
              console.log(error);
          });
    }

    $('#save_author').click(function () {

        var Author = {};
        Author.Name = $('#author_name').val();
        Author.Nationality = $('#author_nationality').val();
        Author.Years = $('#author_years').val();
        Author.Tags = $('#author_tag').val();
        Author.Group = $('#author_group').val();
        Author.Notes = $('#author_notes').val();
        Author.External = $('#author_external').val();

        // axios.post('http://localhost:3000/saveAuthor', { author: Author })
        //   .then(function(response){
        //     ShowModal("Save Author", response.data.Result);
        //     ShowAuthor(Author.Name);
        //   })
        //   .catch(function (error) {
        //     ShowModal("Save Author", error);
        //   });

    });

    function GetAuthorsByLetter(letter) {

        axios.get('http://localhost:3000/getAuthorsByLetter/' + letter)
          .then(function (response) {
              DisplayAuthors(response.data.Authors);
          })
          .catch(function (error) {
              console.log(error);
          });
    }

    function DisplayAuthors(authors) {

        var markup = "";

        if (authors.length > 0) {
            for (var i = 0; i < authors.length; i++) {
                markup = markup.concat('<li class="list-group-item col-xs-3 author_name" id="' + authors[i].Name + '">' + authors[i].Name + '</li>');
            }
        }

        $('#author_area').html(markup);

    }

    function DisplayWorks(works) {

        var markup = "";

        if (works.length > 0) {
            for (var i = 0; i < works.length; i++) {
                markup = markup.concat('<li class="list-group-item col-xs-3 work_name" id="' + works[i].Title + '">' + works[i].Year + " " + works[i].Title + '</li>');
            }
        }

        $('#works_area').html(markup);

    }

    function ShowModal(title, message) {

        var modal = $('#modal_error');
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').html(message);

        $('#modal_error').modal();

    }

</script>
