<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

     <style>
      body {
        padding-top: 50px;
      }
    </style>
</head>

<body>

<div class="container">
  
https://101books.net/the-list/
<li><a href="http://estc.bl.uk" target="_blank">English Short Title Catalog</a></li>
<li><a href="http://www.ustc.ac.uk" target="_blank">Universal Short Title Catalog</a></li>

https://wiganlanebooks.co.uk/
https://wiganlanebooks.co.uk/blog/interesting/10-of-the-oldest-known-surviving-books-in-the-world/

https://www.mysteriousbookshop.com/
http://www.rarebookhub.com/

<h1>Before You Buy</h1>

<ul>

<li>First Edition</li>
<ul>

<li><a href="https://www.abebooks.com/books/rarebooks/Avid-Collector/Sep06/first-editions-1.shtml" target="_blank">Abe</a></li>
<li><a href="https://www.qbbooks.com/first_ed_pub.php" target="_blank">Quill and Brush</a></li>
<li><a href="https://www.theawl.com/2011/02/how-to-spot-a-first-edition/" target="_blank">Awl</a></li>
<li><a href="https://blog.bookstellyouwhy.com/bid/255746/How-to-Identify-Random-House-First-Editions" target="_blank">Random House Identification</a></li>
<li><a href="https://www.abaa.org/blog/post/identifying-first-editions" target="_blank">ABAA</a></li>
<li><a href="http://www.ioba.org/pages/resources/first-edition-publishers/" target="_blank">IOBA</a></li>

</ul>
<li><a href="bookclub" target="_blank">Book Club/Reprint</a></li>
<ul>
<li><a href="http://www.bookthink.com/0170/170gad1.htm">BookThink Grosset & Dunlap</a></li>
<li><a href="http://www.bookthink.com/0005/05bce.htm">BookThink Book Club Editions</a></li>

<h2>Reprint Publishers</h2>

<div style="width:600px;">
<ul class="multicolumn" style="list-style: none;">
<li>A.L. Burt</li>
<li>Altermus</li>
<li>Avenel</li>
<li>Blakiston</li>
<li>Blue Ribbon Books</li>
<li>Blue Star</li>
<li>Bracken Books</li>
<li>Cassel</li>
<li>Collier</li>
<li>Cupples & Leon</li>
<li>Dial</li>
<li>Dover</li>
<li>Greenwich House</li>
<li>Fiction Library</li>
<li>Goldsmith</li>
<li>Grosset & Dunlap</li>
<li>Hurst</li>
<li>Little Blue Books</li>
<li>Modern Library</li>
<li>Reader's Digest</li>
<li>Saalfield</li>
<li>Sears</li>
<li>Street and Smith</li>
<li>Sun Dial</li>
<li>Tower</li>
<li>Triangle</li>
</ul>
</div>
<li><a href="http://www.ebay.com/gds/Remainder-Marks-on-Books-Part-2-/10000000177802667/g.html" target="_blank">Remainder Marks</a></li>
<li>Ex Library</li>
<li id="jacket_header" style="color:orange">Dust Jacket Condition</li>
<ul id="jacket_condition" style="display:none">
  <li>Tears</li>
  <li>Sunned</li>
  <li>Chipped</li>
  <li>Price Clipped</li>
  <li>Writing/Marks</li>
  <li>Folds/Creases</li>
  <li>Repairs/Tape</li>
  <li>Stains</li>
  <li>Stickers (including the seller's)</li>
</ul>
<li id="exterior_header" style="color:orange">Book Exterior</li>
<ul id="exterior" style="display:none">
  <li>Bowed</li>
  <li>Cocked/Slanted</li>
  <li>Loose Binding/Shaken</li>
  <li>Chipped</li>
  <li>Bumps/Dents</li>
  <li>Stained</li>
  <li>Faded</li>
  <li>Worn Edges</li>
  <li>Headband Wear</li>
    <li>Rebacked</li>
    <li>Recased</li>
</ul>
<li id="interior_header" style="color:orange">Book Interior</li>
<ul id="interior" style="display:none">
  <li>Tears</li>
  <li>Bookplate</li>
  <li>Flyleaf Writing</li>
  <li>Foxing</li>
  <li>Bug Damage/Wormholes</li>
  <li>Mold</li>
  <li>Writing/Marks/Stamps</li>
  <li>Folds/Creases</li>
  <li>Repairs/Tape</li>
  <li>Stains</li>
  <li>Missing Pages</li>
</ul>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>

<script>

  $('#jacket_header').click( function() {
    $('#jacket_condition').toggle();
  })
  $('#exterior_header').click( function() {
    $('#exterior').toggle();
  })
  $('#interior_header').click( function() {
    $('#interior').toggle();
  })

</script>
