<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Frognall</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active"><a href="authors.html">Authors</a></li>
                      <li><a href="buying.html">Buying</a></li>
                      <li><a href="history.html">History</a></li>
                      <li><a href="media.html">Media</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="repair.html">Repair</a></li>
                      <li><a href="industry.html">Industry</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9">

            <div class="spaced_area" >
              <ul id="area_a" class="list-group row">
                   <li class="list-group-item col-xs-3"><span class="letter" id="bibliographies_link">Bibliographies</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="bibliography_link">Bibliography</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Textual Analysis</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="collectors_link">Collectors</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="printers_link">Printers</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="illustators_link">Illustrators</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Forgeries</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Private Press</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Literature History</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="writing_history_link">Writing History</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Publishers</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Museums</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Old Booksellers</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Bookplates</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Library Stamps</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="books_on_books_link">Books on Books</span></li>
                   <li class="list-group-item col-xs-3"><span class="letter" id="theft_link">Theft</span></li>
              </ul>
            </div>

            <ul id="bibliographies" style="display:none">
              <li><a href="http://estc.bl.uk" target="_blank">English Short Title Catalog</a></li>
              <li><a href="http://www.ustc.ac.uk" target="_blank">Universal Short Title Catalog</a></li>
            </ul>

            <ul id="bibliography" style="display:none">
              <li>Philip Gaskell
                <ul>
                  <li><i>A New Introduction to Bibliography</i> 1972</li>
                </ul>
              </li>
              <li>W.W. Greg
                <ul>
                  <i>A Bibliography of the English Printed Drama to the Restoration</i> 1939</li>
                </ul>
              <li>Fredson Bowers
                <ul>
                  <i>Principles of Bibliographical Description</i> 1949</li>
                </ul>
              </li>
              <li>Ronald Brunlees McKerrow
                <ul>
                  <i>An Introduction to Bibliography for Literary Students</i> 1927</li>
                </ul>
              </li>
              <li>Arundell Esdaile
                <ul>
                  <i>A Student’s Manual of Bibliography</i> 1931</li>
                </ul>
              </li>
              <li>J.D. Cowley
                <ul>
                  <i>Bibliographical Description and Cataloguing</i> 1939</li>
                </ul>
              </li>
            </ul>

            <ul id="books_on_books" style="display:none">
              <li>A. Edward Newton
                <ul>
                  <i>The Amenities of Book-Collecting and Kindred Affections</i> 1918</li>
                </ul>
              </li>
              <li>A.W. Pollard
                <ul>
                  <i>Early Illustrated Books: A History of the Decoration and Illustration of Books in the 15th and 16th Centuries</i> 1927</li>
                </ul>
              </li>
              <li>Elizabeth Eisenstein
                <ul>
                  <i>The Printing Press as an Agent of Change 2 vols</i> 1979</li>
                </ul>
              </li>
              <li>David Pearson
                <ul>
                  <i>Provenance Research in Book History: A Handbook</i> 1998</li>
                  <i>English Bookbinding Styles 1450–1800.</i> 2005 (revised 2014)</li>
                </ul>
              </li>
              <li>Martin Lowry
                <ul>
                  <i>The World of Aldus Manutius</i> 1979</li>
                </ul>
              </li>
              <li>Robert Patten
                <ul>
                  <i>Charles Dickens and His Publishers</i> 1978</li>
                </ul>
              </li>
              <li>Gary Stark
                <ul>
                  <i>Entrepreneurs of Ideology: Neoconservative Publishers in Germany, 1890-1933</i> 1981</li>
                </ul>
              </li>
              <li>H. S. Bennett
                <ul>
                  <i>Chaucer and Fifteenth-Century Verse and Prose</i> 1990</li>
                </ul>
              </li>
              <li>Lawrence C. Wroth
                <ul>
                  <i>The Colonial Printer</i> 1964</li>
                </ul>
              </li>
              <li>Roger Chartier</li>
              <li>D. F. McKenzie</li>
              <li>Michael Suarez</li>
              <li>Robert Darnton</li>
              <li>Thomas Adams and Nicolas Barker</li>
              <li>James Raven</li>
              <li>H.J. Martin</li>
              <li>Johann Goldfriedrich</li>
            </ul>

            <ul id="theft" style="display:none">
              <li><a href="http://mappingbooks.blogspot.com/2013/10/library-markings-from-looted-books.html">Library Markings</a></li>
              <li><a href="https://www.atlasobscura.com/articles/james-shinn-book-thief">James Shinn</a></li>
            </ul>

            <ul id="writing_history" style="display:none">
              <li><a href="https://wiganlanebooks.co.uk/blog/interesting/10-of-the-oldest-known-surviving-books-in-the-world/">Oldest Books</a></li>
            </ul>

          </div>
      </div>
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>

<script>

  $('.letter').click( function() {
    var area = '#' + $(this).attr('id').substring(0, $(this).attr('id').length - 5);
    $(area).toggle();
  })

</script>
