<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Frognall</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active"><a href="authors.html">Authors</a></li>
                      <li><a href="buying.html">Buying</a></li>
                      <li><a href="history.html">History</a></li>
                      <li><a href="media.html">Media</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="repair.html">Repair</a></li>
                      <li><a href="industry.html">Industry</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9">


  <ul id="area_a" class="list-group row">
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Bibliography</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Bibliographers</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Textual Analysis</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Collectors</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Printers</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Illustrators</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Forgeries</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Private Press</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Literature History</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Writing Hsitory</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Publishers</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Museums</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Old Booksellers</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Bookplates</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Library Stamps</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Books on Books</span></li>
       <li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Theft</span></li>
  </ul>
http://mappingbooks.blogspot.com/2013/10/library-markings-from-looted-books.html
  https://www.atlasobscura.com/articles/james-shinn-book-thief
https://www.flickr.com/photos/58558794@N07/sets/
  https://101books.net/the-list/
  <li><a href="http://estc.bl.uk" target="_blank">English Short Title Catalog</a></li>
  <li><a href="http://www.ustc.ac.uk" target="_blank">Universal Short Title Catalog</a></li>
  https://wiganlanebooks.co.uk/blog/interesting/10-of-the-oldest-known-surviving-books-in-the-world/
Roger Chartier
D. F. McKenzie
Michael Suarez
Robert Darnton
THomas Adams and Nicolas Barker
James Raven
<li class="list-group-item col-xs-3"><span class="letter" id="buying_checklist_link">Museums</span></li>

B?rsenblatt f?r den Deutschen Buchhandel
Ecole des Chartes\
LApparition du livre (1958), by Lucien Febvre and
Henri-Jean Martin, and Livre et soci?t? dans la France du XVII le si?cle (two volumes
1965 and 1970) by a groupconnected with the Vie section of the Ecole Pratique
des Hautes Etudes.

hey created new journals?Publishing
History, Bibliography Newsletter, Nouvelles du livre ancien, Revue fran?aise d'histoire
du livre (new series), Buchhandelsgeschichte, and Wolfenb?tte 1er Notizen zur Buchge
schichte. They founded new centers?the Institut d'Etude du Livre in Paris, the
Arbeitskreis f?r Geschichte des Buchwesens in Wolfenb?ttel, the Center for the
Book in the Library of Congress. S

Journal of Publishing History and monographs
like Martin Lowry's The World of Aldus Manutius, Robert Patten's Charles Dickens
and His Publishers, and Gary Stark's Entrepreneurs of Ideology: Neoconservative
76 ROBERT DARNTON
Publishers in Germany, 1890-1933.

ooksellers. Thanks to some classic studies?H. S. Bennett on
early
modern England, L. C. Wroth on colonial America, H.-J. Martin on
seventeenth century France, and Johann Goldfriedrich on Germany?it

<h2>Bibliographers</h2>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Michael_Sadleir" target="_blank">Michael Sadleir</a></li>
</ul>
A.W. Pollard
W.W. Greg’s A Bibliography of the English Printed Drama to the Restoration
Bowers, Fredson. PRINCIPLES OF BIBLIOGRAPHICAL DESCRIPTION 1949
McKerrow An Introduction to Bibliography for Literary Students
Arundell Esdaile’s A Student’s Manual of Bibliography [1931]
J.D. Cowley’s Bibliographical Description and Cataloguing [1939].)

Bowers, Fredson. Principles of Bibliographical Description. Princeton, NJ: Princeton University Press, 1949; several reprint editions; paperback edition, with introduction by G. Thomas Tanselle, New Castle, DE: Oak Knoll Press, 1994. Anyone with a serious interest in bibliography and the history of books and printing should tackle this magisterial, but challenging work at some point. If you have the time, please read at least Chapters 5 (skipping over the finer print) and 7, and Appendix I (pp. 193–254, 269–311, 457–462; see also Gaskell, pp. 328–335 for a very concise—but not fully accurate—summary of these chapters.) The basic concepts elucidated by Bowers will be covered in class. Then read (or re-read) Bowers after taking this course, by which time his discussion should make considerably more sense.

Pearson, David. Provenance Research in Book History: A Handbook. London: The British Library; New Castle, DE: Oak Knoll Press, 1998. Despite its heavily Anglocentric focus, this is a very useful introduction to marks of provenance and their identification, though the many illustrations tend to be a bit small and murky. Please read pp. 1–26, 38–70, 82–139, and 274–296; skim the rest to the extent of your interest. Presently out of print and difficult to find.

Pearson, David. English Bookbinding Styles 1450–1800. London: The British Library; New Castle, DE: Oak Knoll Press, 2005; corrected 2nd printing, 2014. Another useful introduction to a very complex and amorphous subject. The text and illustrations (many in color) provide an essential expansion of Gaskell’s extremely limited coverage. Only partly applicable to binding styles elsewhere in Europe, but at least this is a start. Please read pp. x–xi, 1–40, and browse pp. 41–163.

The Anatomy of a Book: I. Format in the Hand-Press Period. Written by Terry Belanger and directed by Peter Herdrich. 1991. 30 minutes.

The Making of a Renaissance Book. 1969. 22 minutes.

Both films are available on a single DVD. You can purchase a copy of the DVD along with a workbook and facsimile practice materials from RBS for $45. Please note: students located outside of the United States must contact RBS for international shipping rates before sending payment.
<h2>Journals</h2>

<ul>
<li>The Book Collector (formerly Book Handbook)</li>
THe Library - Publication of The Bibliographical Society (evolved from Transactions of the Bibliographical Society)
https://academic.oup.com/library
Transactions of the Bibliographical Society -https://catalog.hathitrust.org/Record/000545110
</ul>

<h2>Collections</h2>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Albert_and_Shirley_Small_Special_Collections_Library" target="_blank">Albert and Shirley Small Special Collections Library</a></li>
</ul>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
