<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="index.html">Frognall</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active"><a href="authors.html">Authors</a></li>
                      <li><a href="buying.html">Buying</a></li>
                      <li><a href="history.html">History</a></li>
                      <li><a href="media.html">Media</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="repair.html">Repair</a></li>
                      <li><a href="industry.html">Industry</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9">

              <h3>Camilo José Cela</h3>
              <p>Spanish. 1916-2002</p>
              <p>1989 Nobel Prize</p>
              <p><a href="https://en.wikipedia.org/wiki/Camilo_José_Cela" target="_blank">wikipedia</a></p>
              <b>Works</b>
              <div>
                <br/>
                <i class="work" id="work_1">La Familia de Pascual Duarte (The Family of Pascual Duarte)</i>
                <div class="table-responsive" id="area_work_1" style="display:none">

                  <table class="table table-striped">
                    <tbody>
                      <tr><td>1942</td><td>Editorial Aldecoa</td><td>Madrid</td><td></td><td></td><td></td></tr>
                      <tr><td>1946</td><td>Zodiaco</td><td>Barecelona</td><td></td><td></td><td></td></tr>
                      <tr><td>1946</td><td>Eyre & Spottiswoode</td><td>London</td><td></td><td></td><td></td></tr>
                      <tr><td>1951</td><td>Ediciones Destino</td><td>Barcelona</td><td></td><td></td><td></td></tr>
                      <tr><td>1964</td><td>Little, Brown and Company</td><td>Boston</td><td></td><td></td><td></td></tr>
                      <tr><td>1965</td><td>Weidenfeld & Nicolson</td><td>London</td><td></td><td></td><td></td></tr>
                    </tbody>
                  </table>

                  <p><a href="https://en.wikipedia.org/wiki/The_Family_of_Pascual_Duarte" target="_blank">wikipedia</a></p>
                  <p class="abe"><a href="https://www.abebooks.com/servlet/SearchResults?an=Cela&bi=h&bx=off&cm_sp=SearchF-_-Advtab1-_-Results&ds=30&recentlyadded=all&sortby=1&sts=t&tn=Duarte&xpod=on" target="_blank">abebooks</a></p>
                </div>
                <br/>
                <i class="work" id="work_2">Viaje a la Alcarria (Journey to Alcarria)</i>
                <div class="table-responsive" id="area_work_2" style="display:none">

                  <table class="table table-striped">
                    <tbody>
                      <tr><td>1948</td><td></td><td></td><td></td><td></td><td></td></tr>
                      <tr><td>1954</td><td>Ediciones Destino</td><td>Barcelona</td><td></td><td></td><td></td></tr>
                      <tr><td>1963</td><td>George Harrap</td><td>London</td><td></td><td></td><td></td></tr>
                      <tr><td>1964</td><td>University of Wisconsin Press</td><td>Madison</td><td></td><td></td><td></td></tr>
                    </tbody>
                  </table>

                  <p><a href="https://en.wikipedia.org/wiki/Journey_to_the_Alcarria" target="_blank">wikipedia</a></p>
                  <p class="abe"><a href="ABELINK" target="_blank">abebooks</a></p>
                </div>
                <br/>
                <i class="work" id="work_3">La Colmena (The Hive)</i>
                <div class="table-responsive" id="area_work_3" style="display:none">
                  <p>First published in Argentina</p>
                  <table class="table table-striped">
                    <tbody>
                      <tr><td>1951</td><td>Emecé</td><td>Buenos Aires</td><td></td><td></td><td></td></tr>
                      <tr><td>1953</td><td>Farrar, Straus and Young</td><td>New York</td><td></td><td></td><td></td></tr>
                      <tr><td>1953</td><td>Gollancz</td><td>London</td><td></td><td></td><td></td></tr>
                      <tr><td>1955</td><td></td><td>Spain</td><td></td><td></td><td></td></tr>
                    </tbody>
                  </table>

                  <p><a href="https://en.wikipedia.org/wiki/The_Hive_(novel)" target="_blank">wikipedia</a></p>
                  <p class="abe"><a href="https://www.abebooks.com/servlet/SearchResults?an=Cela&bi=h&bx=off&cm_sp=SearchF-_-Advtab1-_-Results&ds=30&recentlyadded=all&sortby=1&sts=t&tn=hive&xpod=on" target="_blank">abebooks</a></p>
                </div>
                <br/>
              </div>

            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>

</html>

<script>

    $('.work').click(function () {
      var area = '#area_' + $(this).attr('id');
      $(area).toggle();
    });

</script>
