<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="index.html">Frognall</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active"><a href="authors.html">Authors</a></li>
                      <li><a href="buying.html">Buying</a></li>
                      <li><a href="history.html">History</a></li>
                      <li><a href="media.html">Media</a></li>
                      <li><a href="terms.html">Terms</a></li>
                      <li><a href="repair.html">Repair</a></li>
                      <li><a href="industry.html">Industry</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-xs-12 col-sm-9">

              <h3>Willa Cather</h3>
              <p>American. 1873-1947</p>
              <p><a href="https://en.wikipedia.org/wiki/Willa_Cather" target="_blank">wikipedia</a></p>
              <p><a href="http://cather.unl.edu" target="_blank">Willa Cather Archives</a></p>
              <p>Willa Cather: A Bibliography By Joan Crane</p>
              <b>Works</b>
              <div>
                <br/>
                <i class="work" id="work_1">Alexander's Bridge</i>
                <div class="table-responsive" id="area_work_1" style="display:none">
                        <p><a href="http://cather.unl.edu/0001.html" target="_blank" >Online</a></p>
                        <table class="table table-striped">
                          <tbody>
                            <tr><td>1912</td><td>Houghton Mifflin</td><td>Boston</td><td>Dust Jacket</td><td></td><td><a href="AlexandersBridge_1912.jpg" target="_blank"><img src="AlexandersBridge_1912.jpg" height="40" alt="" /></a></td></tr>
                            <tr><td>1912</td><td>William Heinemann</td><td>London</td><td>As Alexander's Bridges</td><td></td><td></td></tr>
                            <tr><td>1922</td><td>Houghton Mifflin</td><td>London</td><td>2nd edition with Willa Cather preface</td><td></td><td></td></tr>
                            <tr><td>2007</td><td>University of Nebraska Press</td><td>Lincoln</td><td>Scholarly Edition</td><td></td><td></td></tr>
                          </tbody>
                        </table>

                          <p class="abe"><a href="https://www.abebooks.com/servlet/SearchResults?an=Cather&bi=h&bx=off&cm_sp=SearchF-_-Advtab1-_-Results&ds=30&recentlyadded=all&sortby=1&sts=t&tn=Bridge&xpod=on" target="_blank">abebooks</a></p>
                      </div>
                <br/>

                <i class="work" id="work_2">O Pioneers!</i>
                <div class="table-responsive" id="area_work_2" style="display:none">
                        <p><a href="http://cather.unl.edu/0017.html" target="_blank" >Online</a></p>
                        <table class="table table-striped">
                          <tbody>
                            <tr><td>1913</td><td>Houghton Mifflin</td><td>Boston</td><td>Printings and issues</td><td></td><td></td></tr>
                            <tr><td>1919</td><td>Houghton Mifflin</td><td>Boston</td><td></td><td></td><td><a href="Pioneers_DustJacket_1919.jpg" target="_blank"><img src="Pioneers_DustJacket_1919.jpg" height="40" alt="" /></a></td></tr>
                            <tr><td>1937</td><td>Houghton Mifflin</td><td>Boston</td><td></td><td></td><td></td></tr>
                          </tbody>
                        </table>

                          <p class="abe"><a href="https://www.abebooks.com/servlet/SearchResults?an=Willa+Cather&bi=h&bx=off&cm_sp=SearchF-_-Advtab1-_-Results&ds=30&recentlyadded=all&sortby=1&sts=t&tn=Pioneers&xpod=on" target="_blank">abebooks</a></p>
                      </div>
                <br/>
                <i class="work" id="work_3">The Song of the Lark</i>
                <div class="table-responsive" id="area_work_3" style="display:none">

                        <table class="table table-striped">
                          <thead>
                            <tr><th>Year</th><th>Publisher</th><th>City</th><th>Notes</th><th>Very Good</th><th></th></tr>
                          </thead>
                          <tbody>
                            <tr><td>1915</td><td>Houghton Mifflin</td><td>Boston</td><td></td><td></td><td></td></tr>
                            <tr><td>1932</td><td>Jonathan Cape</td><td>London</td><td></td><td></td><td></td></tr>
                          </tbody>
                        </table>

                          <p class="abe"><a href="https://www.abebooks.com/servlet/SearchResults?an=Willa+Cather&bi=h&bx=off&cm_sp=SearchF-_-Advtab1-_-Results&ds=30&recentlyadded=all&sortby=1&sts=t&tn=The+Song+of+the+Lark&xpod=on" target="_blank">abebooks</a></p>
                      </div>
                <br/>
                <i class="work" id="work_X">My Ántonia</i>
                <br/>
                <i class="work" id="work_X">A Lost Lady</i>
                <br/>
                <i class="work" id="work_X">The Professor's House</i>
                <br/>
                <i class="work" id="work_X">My Mortal Enemy</i>
                <br/>
                <i class="work" id="work_X">Death Comes for the Archbishop</i>
                <br/>
                <i class="work" id="work_X">Shadows on the Rock</i>
              </div>

            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>

</html>

<script>

    $('.work').click(function () {
      var area = '#area_' + $(this).attr('id');
      $(area).toggle();
    });

</script>
